<!DOCTYPE html>
<html>
  <head>
    <title>Ad Tracker</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <% Object.keys(properties).forEach((property) => { %>
      <article class="property">
        <header>
          <h1><%= property %></h1>
        </header>
        <section>
          <% properties[property].forEach((click) => { %>
            <div class="click">
              <span class="referer">
                <%= click.referer %>
              </span>
              <span class="ip">
                <%= click.ip %>
              </span>
              <span class="time">
                <%= click.time %>
              </span>
            </div>
          <% }); %>
        </section>
      </article>
    <% }); %>
  </body>
</html>
